/*~
/web/bundles/
/web/js/
/web/css/
/nbproject/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/web/sources
/web/sources/*
/web/screencaps
/web/screencaps/*
/web/media/
/components/
/web/fonts/
/web/media-sources/