<ul class="pagination">
    {% for page in pager %}
        <li{% for attr_key, attr_value in page.attr %} {{ attr_key }}="{{ attr_value }}"{% endfor %}>
            <a href="{{ page.route ? path(page.route, page.parameters) : '#' }}">
                {{ page.text }}                
            </a>
        </li>
    {% endfor %}
</ul>