body{
    background-size: cover;
    background-attachment: fixed;
}

table{
    width: 100%;
    
    td, th{
        &.table--control{
            
            width: 100px;
            
            .button{
                width: 100%;
            }
        }
    }
    
    td{
        
        .button{
            margin-bottom: 0;
        }
        
        input[type="checkbox"]{
            margin-bottom: 0;
        }
        
    }
    
}

form{
    
    textarea{
        resize: none;
        min-height: 200px
    }
    
    select{
        &.error{
            margin-bottom: 0;
        }
    }
    
}

.media-list{
    
    > .columns{
        
        margin-bottom: rem-calc(10);
        position: relative;
        
        .media-list--name{
            position: absolute;
            bottom: 0;
            background: $palette-dark-overlay-bg;
            color: $palette-dark-overlay-text;
            font-size: 1.4em;
            max-width: 80%;
            
            small{
                color: $palette-dark-overlay-small-text;
            }
            
            .media-list--name-inner{
                padding: rem-calc(10);
            }
            
        }
        
    }
    
}