body.fullscreen{
    background: #000;
    overflow: hidden;
}

.fullscreen{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    
}

.video-player{
    
    &.fullscreen{
        
        &.no-cursor{
            cursor: none;
        }
        
        background: #000;
        z-index: 1000;
        
        .video-video{
            
            video{
                background: #000;
            }
            
            &.row, .columns{
                width: 100%;
                margin: 0;
                padding: 0;
            }
            
            .flex-video{
                padding: 0;
                margin: 0;
                overflow: visible;
            }
            
        }

        .video-controls{
            position: fixed;
            bottom: rem-calc(5);
            left: 0;
            width: 100%;
            margin: 0;
            
            .columns{
                margin-bottom: 0;
            }
            
        }

    }
    
    .video-video{
        
        .flex-video{
            background: #000;
        }
        
        .buffering-overlay{
            background: rgba(0,0,0,0.75);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: #fff;
            font-size: 4rem;
            text-align: center;
            display: none;
        }
        
    }
    
    .video-controls{
    
        .button{
            display: inline-block;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            margin: 0;
            text-align: center;
        }

    }
    
}